body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  background-color: #222;
  color: white;
  text-align: center;
  height: 77px;
  line-height: 77px;
}
header > div {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
header .title {
  display: inline-block;
  width: 80%;
  font-size: 2em;
  font-weight: bold;
}
header .chat-button,
header .menu-button {
  width: 10%;
}
header .chat-button > span,
header .menu-button > span {
  padding: 5px;
}
header .chat-button > span:hover,
header .menu-button > span:hover {
  cursor: pointer;
}
.hand-area {
  text-align: center;
}
.hand-area button {
  margin: 0 5px;
}
.hand {
  padding-top: 15px;
}
.card {
  display: inline-block;
  position: relative;
  padding: 5px;
  perspective: 800px;
  width: 71px;
  height: 96px;
}
.card.selected {
  bottom: 10px;
}
.card.selected img {
  box-shadow: 0 0 3px 2px red;
}
.card .card-image {
  display: block;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.card .card-image > img {
  display: block;
  position: absolute;
  backface-visibility: hidden;
}
.card .card-image > img.back {
  transform: rotateY(180deg);
}
.card .card-image.flipped {
  transform: rotateY(180deg);
}
.result-table > .result-row {
  padding: 3px;
}
.result-table > .result-row.winninghand {
  color: red;
  font-weight: bold;
}
.popup-overlay {
  position: fixed;
  top: 77px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
}
.popup-overlay .name-form {
  width: 300px;
  margin: 100px auto;
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup-overlay .name-form > input {
  display: block;
  margin: 5px auto;
  width: 200px;
}
.popup-overlay .name-form > input[type=text] {
  margin-top: 15px;
  text-align: center;
}
.chat-area {
  position: fixed;
  right: 0;
  top: 77px;
  bottom: 0;
  width: 20%;
  border-left: 2px solid #222;
}
.chat-area.chat-open {
  transition: 1s;
}
.chat-area.chat-closed {
  width: 0;
  right: -2px;
  transition: 1s;
}
.chat-area > .message-area {
  position: relative;
  height: 95%;
}
.chat-area > .message-area > .message-row > span.sender {
  font-weight: bold;
}
.chat-area > .message-area > .message-row:nth-child(even) {
  background-color: #64c1e5;
}
.chat-area > .messagebox {
  position: relative;
  height: 5%;
  border-top: 1px solid gray;
}
.chat-area > .messagebox > input[type=text] {
  width: calc(80% - 1px);
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  border-right: 1px solid gray;
}
.chat-area > .messagebox > input[type=submit] {
  width: 20%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}
