body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  background-color: #222;
  color: white;
  text-align: center;
}
header h1 {
  margin: 0;
  padding: 20px 0;
}
.hand-area {
  text-align: center;
}
.hand-area button {
  margin: 0 5px;
}
.hand {
  padding-top: 15px;
}
.card {
  display: inline-block;
  position: relative;
  padding: 5px;
  perspective: 800px;
  width: 71px;
  height: 96px;
}
.card.selected {
  bottom: 10px;
}
.card.selected img {
  box-shadow: 0 0 3px 2px red;
}
.card .card-image {
  display: block;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.card .card-image > img {
  display: block;
  position: absolute;
  backface-visibility: hidden;
}
.card .card-image > img.back {
  transform: rotateY(180deg);
}
.card .card-image.flipped {
  transform: rotateY(180deg);
}
.result-table > .result-row {
  padding: 3px;
}
.result-table > .result-row.winninghand {
  color: red;
  font-weight: bold;
}
.popup-overlay {
  position: fixed;
  top: 77px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
}
.popup-overlay .name-form {
  width: 300px;
  margin: 100px auto;
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup-overlay .name-form > input {
  display: block;
  margin: 5px auto;
  width: 200px;
}
.popup-overlay .name-form > input[type=text] {
  margin-top: 15px;
  text-align: center;
}
