@header-height: 77px;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-color: #222;
  color: white;
  text-align: center;
  height: @header-height;
  line-height: @header-height;

  > div {
    display: inline-block;
    height: 100%;
    vertical-align: top;
  }

  .title {
    display: inline-block;
    width: 80%;
    font-size: 2em;
    font-weight: bold;
  }

  .chat-button, .menu-button {
    width: 10%;

    > span {
      padding: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.hand-area {
  text-align: center;

  button {
    margin: 0 5px;
  }
}

.hand {
  padding-top: 15px;
}

.card {
  display: inline-block;
  position: relative;
  padding: 5px;
  perspective: 800px;
  width: 71px;
  height: 96px;

  &.selected {
    bottom: 10px;

    img {
      box-shadow: 0 0 3px 2px red;
    }
  }

  .card-image {
    display: block;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;

    > img {
      display: block;
      position: absolute;
      backface-visibility: hidden;

      &.back {
        transform: rotateY(180deg);
      }
    }

    &.flipped {
      transform: rotateY(180deg);
    }
  }
}

.result-table {
  > .result-row {
    padding: 3px;

    &.winninghand {
      color: red;
      font-weight: bold;
    }
  }
}

.popup-overlay {
  position: fixed;
  top: @header-height;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;

  .name-form {
    width: 300px;
    margin: 100px auto;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    transition: all 5s ease-in-out;

    > input {
      display: block;
      margin: 5px auto;
      width: 200px;

      &[type=text] {
        margin-top: 15px;
        text-align: center;
      }
    }
  }
}

.chat-area {
  position: fixed;
  right: 0;
  top: @header-height;
  bottom: 0;
  width: 20%;
  border-left: 2px solid #222;

  &.chat-open {
    transition: 1s;
  }

  &.chat-closed {
    width: 0;
    right: -2px; // border width
    transition: 1s;
  }

  > .message-area {
    position: relative;
    height: 95%;

    > .message-row {
      > span.sender {
        font-weight: bold;
      }

      &:nth-child(even) {
        background-color: rgb(100, 193, 229, 0.5);
      }
    }
  }

  > .messagebox {
    position: relative;
    height: 5%;
    border-top: 1px solid gray;

    > input[type=text] {
      @rightborder: 1px;
      width: calc(~'80% - @{rightborder}');
      height: 100%;
      padding: 0;
      margin: 0;
      border: 0;
      border-right: @rightborder solid gray;
    }

    > input[type=submit] {
      width: 20%;
      height: 100%;
      padding: 0;
      margin: 0;
      border: 0;
    }

  }
}
